.paragraph {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin: 1rem 0;
}
.paragraph label {
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    color: #78716c;
}
.paragraph textarea  , input{
    width: 100%;
    padding:4px;
    border-bottom-width:2px ;
    border-radius: 2px;
    border-color: #d6d3d1;
    background-color: #e7e5e4;
    color: #57534e; 

}
.paragraph textarea:focus  , input:focus{
    outline: 2px solid transparent;
    border-color: #57534e;
}