#modal-header  {
    font-size: 1.25rem;
    font-weight: 700;
  color:  rgb(68 64 60);
  margin: 1rem 0;
}
.modal-paragraph {
    color:  rgb(68 64 60);
margin-bottom: 1rem;
}
.wrapper {
    width: 35rem;
    margin-top: 4rem;
}
.wrapper-menu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;
    margin:1rem 0;
}
.wrapper-menu .cancel-btn {
    background: none;
   color: rgb(66, 59, 57);
}
.wrapper-menu .cancel-btn:hover {
    color:  rgb(2, 2, 2);
    background: none;
   
}
.save-btn {
    padding: 0.5rem 1.5rem;
    border-radius: 6px;
    background-color: rgb(41, 37, 36) ;
    color: rgb(250, 250, 249);
}
.wrapper-menu .save-btn:hover {
    background-color: rgb(12 10 9);
}