
.aside-container {
  max-width: 59rem;
  border-radius: 9px;
  
   background-color: #171717;
   color: #f5f5f4;
   padding: 50px 60px;

 }
 .aside-container h2 {
   font-size: 24px;
 }
 #btn {
   margin-top: 2rem;
   font-size: 14px;
  max-width:30rem;
  color: white;
 padding: 10px;
 border-radius: 6px;
  background-color: #44403c;
  opacity: 1;
  
 }
#btn:hover {
 background-color: rgb(41, 37 ,36);
 color: #f5f5f5;
}
.aside-container ul {
  margin-top: 2rem;
}
.project-btn {
  width: 100%;
  text-align: left;
  padding: 4px 8px;
  border-radius: 2px;
  margin: 4px 0;
  color: #9CA3AF;
}
.project-btn:hover {
  color: #E5E7EB;
  background-color: rgb(41, 37 ,36);
}
.project-btn-2 {
  background-color: rgb(41 ,37 ,36);

}
 @media (max-width:350px) {
   .aside-container {
     width: auto;
     align-items: center;
     justify-content: center;
   }
   #btn {
     font-size: 16px;
   }
   
 }
 