div .container {
    max-width: 35rem;
    margin-top: 4rem;
}
.container header {
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    border-bottom-width: 2px;
    border-color: rgb(214 ,211 ,209);
}
.container div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.container div h1 {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    color: rgb(87, 83, 78);
    margin-bottom: 8px;
}
.container button {
  
    color: rgb(87, 83, 78)
}
.container  button:hover {
    color: rgb(12, 10 ,9);
}
.container  p:first-of-type{
 margin-bottom: 1rem;
 color: rgb(168, 162, 158);
}
.container  p:nth-of-type(2){
    color: rgb(87 83 78);
    white-space: pre-wrap;
}